.Payment_List {
  max-height: 100%;
  padding: 0 18px;

  &.empty {
    height: 100%;

    display: grid;
    justify-items: center;
    align-content: center;
  }

  .Payment {
    padding: 3px 0px;
  }
}
