.Payment_List {
  height: calc(100% - 4rem);
  padding: 0 18px;
  overflow-y: scroll;

  &.empty {
    height: calc(100% - 4rem);

    display: grid;
    justify-items: center;
    align-content: center;
  }

  .Payment {
    padding: 3px 0px;
  }
}
