* {
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;

  #app {
    height: 100%;
    width: 100%;
  }
}

input,
textarea {
  display: block;
}

textarea {
  resize: none;
}
